.cc-header {
    transition: .3s;
    
    &.active {
        box-shadow: 0 1px 10px rgb(168 173 191 / 22%);
    }

    .navbar-toggler {
        @include reset-shadow();
    }

    .nav-item {
        .nav-link {
            padding-left: 15px !important;
            padding-right: 15px !important;
    
            &.active {
                font-weight: 700;
            }
        }

        &:last-child {
            .nav-link {
                padding-right: 0 !important;
            }
        }
    }
}