.divisi-cc {
    padding-top: 50px;
    padding-bottom: 30px;

    @include media-breakpoint-up(xxl) {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .card-shadow-cc {
        .divisi-illustration {
            width: 90px;
            height: 90px;
            margin-bottom: 18px;
        }
    }
}